
.navbar, .home-nav, .recipes-nav, .category-nav, .form-nav {
  display: flex;
  align-items: center;
  background-color: navy;
  border-radius: 9px;
  padding: 25px;
  margin: 10px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  
}

.home-title {
  margin: auto;
  width: 20%;

  padding: 20px;
  margin-bottom: -50px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.home-description {
  width: 20%;
  margin: auto;
  padding: 20px;
  margin-top: -50px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.home-img {
  display:flex;
  border-radius: 150px;
  width: 80%;
  padding: 70px;
  margin-right: 100px ;
}

.home{
  margin-right: auto;
}

.recipe-list{
  width: 175px;
  font-size: 12px;
  display: flexbox;
  margin-bottom: 50px


}

.category-card{
  width: 300px;
  font-size: 17px;
  display: flexbox;
  margin-bottom: 50px

}



.recipe-img, .category-img{
  width: 100%;
  border-radius: 9px;
  height: 15vw;
  object-fit: cover
}

.props-card {
  width: 100%;
  border-radius: 9px;
  height: 15vw;
  object-fit: cover
}

.column {
  float: left;
  width: 35%;
  padding: 0 10px;
}

.props-img {
  width: 35%;
  border-radius: 9px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration:solid;
  display: inline-block;
  border-radius: 9px;
  font-weight: bold;
}

.back-link {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  border-radius: 9px;
  font-weight: bold;
}

.details-button {
  background-color: navy;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  border-radius: 9px;
  font-weight: bold;
}

.recipe-name {
  font-size: 17px;
}
